<div (click)="vis = !vis">
  <div *ngIf="!vis">
    <ng-content select="em"></ng-content>
  </div>
  <div *ngIf="vis">
    <em>masquer</em>
  </div>
</div>
<div *ngIf="vis">
  <ng-content></ng-content>
</div>
