<mat-card>
  <p>Bienvenue sur le site développé par Nans Bouteville, Barry Hezam, Hugo Fourmy et Jeremy Morant dans le cadre du Projet XML de M1 MIAGE.<br/>
    Vous pourrez trouver ici : <br/>
  </p>
  <ul>
    <li><a routerLink="/map" routerLinkActive="active">Une carte interactive de la liste des centres de recherche Inria.</a></li>
    <li><a routerLink="/centresthemes" routerLinkActive="active">Une liste regroupant les différentes équipes par centres et par thèmes de recherche.</a></li>
    <li><a routerLink="/graphs" routerLinkActive="active">Des graphiques représentant la repartition des membres des CRI dans les différents thèmes de recherche.</a></li>
  </ul>
  <p>
    Merci de votre consultation.
  </p>
</mat-card>
