#title{
  color : #999999;
  margin-left: 15px;
  margin-right: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 24px;
  padding-top: 12px;

}

div.head{
  background-color : #1b1b1b;
  border-color: #252525;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
}

div.menu{
  margin-top: 80px;
  margin-bottom: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #252525;
}

li {
  float: left;
}

li a {
  float : right;
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ddd;
}
