<div *ngIf="!loading">
  <div *ngFor="let cri of cris">
    <div class="outer">
        <p class="titre">Répartition des chercheurs par theme au {{cri.titre}}</p>
        <svg height="50%" width="50%" viewBox="0 0 120 120">
           <circle  *ngFor="let theme of cri.themes ; let i=index" cx="60" cy="60" r="50" fill="transparent" stroke-width="20"
           [attr.stroke-dasharray]="getPerimeter(50)" [attr.stroke-dashoffset]="getOffset(50,i,theme, cri)" [attr.stroke]="getColor(theme)"/>
        </svg>
        <div class="legend">
          <p>Légende</p>
          <ul>
            <li *ngFor="let theme of cri.themes">
              <div [ngStyle]="{'background-color' : getColor(theme), 'float' : 'left'}"> &emsp;</div> = {{theme.nom}}
            </li>
          </ul>
        </div>
    </div>
  </div>
</div>
<div *ngIf="loading">
  Chargement des graphiques, cette opération peut prendre du temps...
</div>
