agm-map {
  height: 500px;
  width: 100%;
}

.outer{
  width: 100%;
  height: 90%;
  display: inline-block;
  text-align: center;
}

.inner{
  width: 80%;
  height: 100%;
  margin:0px auto;
  display: inline-block;
}
